body, #main
{
    background-color: #e9e7d0; 
}
.dismissButton {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
    padding: 0 24px
}

.dismissButton:hover {
    background-color: rgba(66, 133, 244, 0.04);
    border: 1px solid #d2e3fc
}

.dismissButton:focus {
    background-color: rgba(66, 133, 244, 0.12);
    border: 1px solid #d2e3fc;
    outline: 0
}

.dismissButton:hover:focus {
    background-color: rgba(66, 133, 244, 0.16);
    border: 1px solid #d2e2fd
}

.dismissButton:active {
    background-color: rgba(66, 133, 244, 0.16);
    border: 1px solid #d2e2fd;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15)
}

.dismissButton:disabled {
    background-color: #fff;
    border: 1px solid #f1f3f4;
    color: #3c4043
}

/* fin estilo1 */



/*estilo2 */
.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
    font-weight: 400
}

/* fin estilo2 */

/*estilo3 */
.gm-control-active img {
    box-sizing: content-box;
    pointer-events: none
}

.gm-control-active:hover img:nth-child(1),
.gm-control-active:active img:nth-child(1),
.gm-control-active:active img:nth-child(2) {
    display: none
}

/* fin estilo3 */

/*estilo4 */
.gm-ui-hover-effect {
    opacity: .7
}

.gm-ui-hover-effect:hover {
    opacity: 1
}

/* fin estilo4 */

/*estilo5 */
.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div {
    font-size: 10px;
    box-sizing: border-box
}

/* fin estilo5 */

/*estilo6 */
@media print {

    .gm-style .gmnoprint,
    .gmnoprint {
        display: none
    }
}

@media screen {

    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none
    }
}

/* fin estilo6 */

/*estilo7 */
.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
/* fin estilo7 */

/* estilo8 */
a {
    color: #00b8b0;
}

a:hover,
a:focus {
    color: #00b8b0;
}

.pl-child {
    background-color: #00b8b0;
}

blockquote .fa {
    color: #00b8b0;
}

.hr-primary:after {
    background: #00b8b0;
}

.section-title:before,
.section-title:after {
    background: #00b8b0;
}

.section-title span:before,
.section-title span:after {
    background: #00b8b0;
}

.navigation-menu>li>a:hover,
.navigation-menu>li>a:focus,
.navigation-menu>li.active>a {
    background: #00b8b0;
}

ul.navigation-menu.nav>li.current.selected>a,
ul.navigation-menu.nav>li.selected.hasmenu>a {
    background: #00b8b0;
}

.side-menu-trigger,
.navbar-toggle {
    background: #00b8b0;
}

.sidenav-wrapper .nav>li>a:hover,
.sidenav-wrapper .nav>li.active>a {
    color: #00b8b0;
}

.navigation-menu>li:hover {
    background: #00b8b0;
}

.close-menu {
    background: #00b8b0;
}

.close-menu:hover,
.side-menu-trigger:hover,
.navbar-toggle:hover {
    background: #00b8b0;
}

.owl-dot.active,
.owl-dot:hover {
    border-color: #00b8b0;
}

.owl-dot.active span,
.owl-dot:hover span {
    background: #00b8b0;
}

.feature-col i {
    color: #00b8b0;
}

.bg-primary {
    background: #00b8b0;
}

.service-col:after,
.feature-col:after {
    background: #00b8b0;
}

.service-col i {
    color: #00b8b0;
}

.vbox-close {
    background: #00b8b0 !important;
}

.project-catagory {
    color: #00b8b0;
}

.testimonial-box h4 {
    color: #00b8b0;
}

.blog-category:after {
    background: #00b8b0;
}

.posted-date {
    color: #00b8b0;
}

.posted-date:after {
    background: #00b8b0;
}

.post-title a:hover,
.post-title a:focus {
    color: #00b8b0;
}

.posted-by a:hover,
.posted-by a:focus {
    color: #00b8b0;
}

.footer-cols h4:after {
    background: #00b8b0;
}

.contact-col i {
    color: #00b8b0;
}

.contact-col i:after {
    background: #00b8b0;
}

.pagination>li>a:hover,
.pagination>li.current>span,
.pagination>li>a:focus {
    background: #00b8b0;
    border-color: #00b8b0;
}

.widget-single h4:before {
    background: #00b8b0;
}

.widget-single li a:hover {
    color: #00b8b0;
}

.post-summary a:hover {
    color: #00b8b0;
}

.taglist li a:hover {
    background: #00b8b0;
    border-color: #00b8b0;
}

.tags-list ul li a:hover {
    color: #00b8b0;
}

.comment-by .reply {
    color: #00b8b0;
}

.comment-by .reply:hover {
    background: #00b8b0;
}

.sub-title {
    color: #00b8b0;
}

.progress-bar-value {
    background: #00b8b0;
}

input[type="button"],
input[type="submit"],
button {
    background: #00b8b0;
}

.breadcrumb li a:hover {
    color: #00b8b0;
}

.btn {
    background-color: #00b8b0;
}

.btn.btn-white:before {
    background: #00b8b0;
}

.btn.btn-outline-white:hover,
input[type="submit"].btn-outline-white:hover,
input[type="button"].btn-outline-white:hover {
    color: #00b8b0;
}

.back-top {
    background: #00b8b0;
}

.plan-price {
    color: #00b8b0;
}

.pricing-box.popular-plan:hover .btn.btn-outline {
    color: #00b8b0;
}

.btn.btn-outline,
input[type="submit"].btn-outline,
input[type="button"].btn-outline,
button.btn-outline {
    border: solid 2px #00b8b0;
    color: #00b8b0;
}

.btn.btn-outline:hover,
input[type="submit"].btn-outline:hover,
input[type="button"].btn-outline:hover,
button.btn-outline:hover {
    border-color: #00b8b0;
}

.btn.btn-outline:before {
    background: #00b8b0;
}

.btn.btn-outline-white:hover,
input[type="submit"].btn-outline-white:hover,
input[type="button"].btn-outline-white:hover {
    color: #00b8b0;
}

.btn.btn-outline-white,
input[type="submit"].btn-outline-white,
input[type="button"].btn-outline-white,
button.btn-outline-white {
    border-color: #fff;
    color: #fff;
}

.btn.btn-outline:hover,
input[type="submit"].btn-outline:hover,
input[type="button"].btn-outline:hover,
button.btn-outline:hover {
    color: #00b8b0;
    border-color: #fff;
}

.pricing-box.popular-plan {
    background: #00b8b0;
}

.popular-tag {
    color: #00b8b0;
}

.popular-tag:after {
    border-right: 15px solid #00b8b0;
}

/* fin estilo8 */

/*estilo9 */
.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.gm-style img {
    max-width: none;
}

/* fin estilo9 */